




<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password Confirmation</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Bio</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left:0px;">
            <div class="form-group">
              <label for="exampleInputEmail1">Search Speakers</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Speaker First Name</label>
              <input class="form-control" placeholder="speaker first name...">
            </div>
            <div class="form-group">
              <label>Speaker Last Name</label>
              <input class="form-control" placeholder="speaker last name...">
            </div>
          </div><!-- left-column -->
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-right:0px; padding-left:0px;">
            <div class="form-group">
              <label>Speech Date</label>
              <input data-provide='datepicker' class="form-control" placeholder="enter date...">
            </div>
            <div class="form-group">
              <label>Venue Name</label>
              <input class="form-control" placeholder="venue name...">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8" style="padding-left:0px; padding-right:0px">
                  <label>Venue City</label>
                  <input class="form-control" placeholder="enter city...">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="padding-right:0px">
                  <label>Venue State</label>
                  <div class="btn-group" style="width:100%">
                    <button type="button" class="btn btn-default dropdown-toggle" style="width:100%; font-color:#ccc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      select <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>State 1</li>
                      <li>State 2</li>
                      <li>State 3</li>
                      <li>State 4</li>
                      <li>State 5...</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- right-column -->
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" placeholder="title...">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Content</label>
            <textarea class="form-control" placeholder="content..." rows="8"></textarea>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div> <!-- new-speech-form -->



























<h1>New User</h1>
<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
