<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="media">
          <a class="pull-left" href="#" style="margin:0; padding:0">
            <img class="media-object" style="max-height:60px;max-width:60px" src="/assets/default-profile.png">
          </a>
          <div class="media-body" style="padding-left:10px">
              <h3 style="margin-top:0px; margin-bottom:0px">John Doe at Monona Terrace on Wed, Sep 4</h3>
              <h5><i class="fa fa-check-circle" aria-hidden="true"></i> Submitted by John Doe</h5>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px">
        <h4 style="padding-bottom:0px">
          Optional Title for Authorized Users
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 nopadding">
        <p class="nopadding">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
        </p>
      </div>
    </div>
  </div>
</div><!-- show-full -->
