<p id="notice"><%= notice %></p>


<!-- <% if !!signed_in? %>
  <div class="jumbotron">
    <h1>Make Your Markup</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
  </div>
<% end %> -->


<% @speeches.each do |speech| %>
  <%= render partial: 'speech_partial', locals: { speech: speech } %>
<% end %>
