
var snippets = <%= JSON.parse(@highlights.snippets) %>
var speechContent = <%= @speech.content.to_json.html_safe %>


$("#selected-users-toggle-box").append("<%= j render partial: 'layouts/sidebar_user', locals: {user:  @user}%>").ready(function () {

  debugger
    $("#content-div > p").html(
      colorizedContent("rgb(255, 133, 168)", snippets, speechContent)
    )
});


// function addSnippets(color, snippets){
//   var content = $("#content-div > p").html();
//   var newHTML = "";
//
//   prevIndex = 0;
//   snippets.forEach(function(item){
//     newHTML += content.substring(prevIndex, item[0]);
//     newHTML += '<span style="background-color:' + color + '">' + content.substring(item[0], item[1]) + '</span>';
//     // newHTML += '<span style="background-color:yellow">' + content.substring(item[0], item[1]) + '</span>';
//     prevIndex = item[1];
//   });
//   newHTML += content.substring(prevIndex, content.length);
//   $("#content-div > p").html(newHTML);
// }
// addSnippets("rgb(255, 133, 168"), snippets)
