<div class="sidebar_user_box_instance" id="user_<%= user.id %>">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">
      <%= user.first_name %>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 text-right nopadding-left">
      <% if user.id == current_user.id %>
      <button type="button" id="delete-highlights-button" class="btn btn-default btn-mini trash" style="width:2em"><center><i class="fa fa-trash" aria-hidden="true"></i></center></button>
      <% end  %>
      <button type="button" class="btn btn-default btn-mini color-palette paint-brush" style="width:2em"><i class="fa fa-paint-brush" aria-hidden="true"></i></button>
      <div id="myForm" class="hide popover">
        <form id="popForm" >
          <div style="text-align:center">
            <button style="border:none; outline:none; padding:0px; background-color:#fff"><i class="fa fa-square" aria-hidden="true" style="font-size: 24px; color:rgb(255, 243, 133)"></i></button>
            <button style="border:none; outline:none; padding:0px; background-color:#fff"><i class="fa fa-square" aria-hidden="true" style="font-size: 24px; color:rgb(255, 214, 133)"></i></button>
            <button style="border:none; outline:none; padding:0px; background-color:#fff"><i class="fa fa-square" aria-hidden="true" style="font-size: 24px; color:rgb(255, 133, 168)"></i></button>
            <button style="border:none; outline:none; padding:0px; background-color:#fff"><i class="fa fa-square" aria-hidden="true" style="font-size: 24px; color:rgb(133, 255, 208)"></i></button>
            <button style="border:none; outline:none; padding:0px; background-color:#fff"><i class="fa fa-square" aria-hidden="true" style="font-size: 24px; color:rgb(133, 194, 255)"></i></button>
            <button style="border:none; outline:none; padding:0px; background-color:#fff"><i class="fa fa-square" aria-hidden="true" style="font-size: 24px; color:rgb(255, 133, 243)"></i></button>
          </div>
        </form>
      </div>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" id="check-user-button" class="btn btn-default btn-mini check" style="width:2em"><center><i class='fa fa-check-square-o' aria-hidden='true'></i></center></button>
        <button type="button" id="hide-user-button" class="btn btn-default btn-mini x" style="width:2em"><center><i class="fa fa-times" aria-hidden="true"></i></center></button>
      </div>
    </div><!-- /button-group -->
  </div>
</div>
